.main-age {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-content {
  border: solid grey;
  border-radius: 10px;
  padding: 20px;
}
.navigate {
  margin-top: 50px;
}

.hint {
  /* hidden by default */
  display: none;
}

.tooltiptext {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}
